.header {
  background-color: #000;
  color: #fff;
  padding: 2rem; }
  .header .logo {
    text-decoration: none;
    font-size: 2rem;
    color: #ee5253; }
    .header .logo span {
      color: #bebebe; }
  .header .nav a {
    font-size: 1.1rem;
    margin: 0 4rem;
    color: #fff;
    text-decoration: none; }

@media only screen and (max-width: 768px) {
  .home .content {
    width: 30rem;
    padding: 2rem; }
    .home .content h3 {
      font-size: 3rem;
      text-transform: uppercase;
      color: #bebebe; }
    .home .content p {
      line-height: 2;
      font-size: 1rem;
      color: #fff;
      padding: 5rem 0; }
    .home .content .link-btn {
      display: inline-block;
      padding: 1rem .5rem;
      border-radius: .5rem;
      border: 1px solid #000;
      cursor: pointer;
      font-size: .8rem;
      color: #fff; }
      .home .content .link-btn:hover {
        background-color: #000;
        color: #fff; } }

@media only screen and (min-width: 1023px) {
  .content {
    width: 55rem;
    padding: 2rem; }
    .content h3 {
      font-size: 5rem;
      text-transform: uppercase;
      color: #bebebe; }
    .content p {
      line-height: 2;
      font-size: 1.5rem;
      color: #fff;
      padding: 5rem 0; }
    .content .link-btn {
      display: inline-block;
      padding: 1rem .5rem;
      border-radius: .5rem;
      border: 1px solid #000;
      cursor: pointer;
      font-size: .8rem;
      color: #fff; }
      .content .link-btn:hover {
        background-color: #000;
        color: #fff; } }

@media only screen and (max-width: 768px) {
  .jobs .content {
    max-width: 40rem; }
    .jobs .content h3 {
      font-size: 3rem;
      text-transform: uppercase;
      color: #bebebe; }
    .jobs .content p {
      line-height: 2;
      font-size: 1rem;
      color: #fff;
      padding: 5rem 0 0; }
  .jobs .row .fotosAbajo {
    display: flex;
    flex-direction: column; }
    .jobs .row .fotosAbajo img {
      padding: 5rem 0; } }

@media only screen and (min-width: 1023px) {
  .content {
    width: 55rem;
    padding: 2rem; }
    .content h3 {
      font-size: 5rem;
      text-transform: uppercase;
      color: #bebebe; }
    .content p {
      line-height: 2;
      font-size: 1.5rem;
      color: #fff;
      padding: 5rem 0; }
  .row .fotosAbajo {
    display: flex;
    flex-direction: row; }
    .row .fotosAbajo img {
      padding: 3.7rem; } }

@media only screen and (max-width: 768px) {
  .about {
    height: 31.5rem; }
    .about .row h3 {
      font-size: 2rem;
      text-transform: uppercase;
      color: #ee5253;
      justify-content: end;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      text-align: end; }
    .about .row p {
      line-height: 1;
      font-size: 1rem;
      font-weight: 100;
      color: #fff;
      padding: .5rem;
      text-align: start; } }

@media only screen and (min-width: 1023px) {
  .about .row h3 {
    font-size: 7rem;
    text-transform: uppercase;
    color: #ee5253;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    text-align: end; }
  .about .row p {
    line-height: 1.5;
    font-size: 2.5rem;
    font-weight: 100;
    color: #fff;
    padding: 3rem;
    text-align: justify; }
  .about .row .textoAbajo {
    padding-top: 3rem;
    text-align: center; } }

@media only screen and (max-width: 768px) {
  .mainContact {
    padding: 20px; }
    .mainContact .formulario p {
      color: #fff;
      font-size: 1.5rem; }
    .mainContact .formulario h3 {
      color: #fff;
      font-size: 3rem; }
    .mainContact .formulario .buttonMSJ {
      color: #fff;
      background-color: #ff76766e;
      border: none; } }

@media only screen and (min-width: 1023px) {
  .mainContact {
    padding: 20px; }
    .mainContact .formulario p {
      color: #fff;
      font-size: 1.5rem; }
    .mainContact .formulario h3 {
      color: #fff;
      font-size: 3rem; }
    .mainContact .formulario .buttonMSJ {
      color: #fff;
      background-color: #ff76766e;
      border: none; } }

.button-1 {
  margin-top: 5rem; }

.button-2 {
  margin-top: 10rem; }

.button-3 {
  margin-top: 15rem; }

.button-4 {
  margin-top: 20rem; }

.btn--facebook {
  background-color: #3a5795;
  color: white;
  padding: 15px;
  cursor: pointer; }

.btn--twitter {
  background-color: #55acee;
  color: white;
  padding: 15px;
  cursor: pointer; }

.btn--github {
  background-color: #080808;
  color: white;
  padding: 15px;
  cursor: pointer; }

.btn--whatsapp {
  background-color: #00bb2d;
  color: white;
  padding: 15px;
  cursor: pointer; }

.sidebar {
  top: 35%;
  left: 35%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 65%;
  transition: all 0.5s; }

.bar:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  transition: all 0.5s; }

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none; } }

@media only screen and (min-width: 1023px) {
  .sidebar {
    top: 35%;
    left: 35%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65%;
    transition: all 0.5s; }
    .sidebar .bar:hover {
      padding-right: 3rem;
      border-radius: 1rem 0 0 1rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
      transition: all 0.5s; } }

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Prompt', sans-serif; }

.fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .fotos img {
    padding: 0.5rem; }

.bgIndex {
  background: url(../assets/img/bgIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bgTrabajos {
  background: url(../assets/img/bgTrabajos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bgAbout {
  background: url(../assets/img/bgAbout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bgContacto {
  background: url(../assets/img/bgContacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

@media only screen and (max-width: 768px) {
  footer h4 {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0rem; } }

@media only screen and (min-width: 1023px) {
  footer h4 {
    color: #fff;
    font-size: 1rem;
    letter-spacing: .5rem; } }
