.header {
    background-color: $black;
    color: $white;
    padding: 2rem;
    .logo {
        text-decoration: none;
        font-size: 2rem;
        color: $red;
        span {
            color: $grey
        }
    }
    .nav{
        a{
            margin: 0 4rem;
            color: $white;
            text-decoration: none;
        }
    }
}