* {
    padding: 0px;
    margin: 0px;

    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif
}

.fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img {
        padding: 0.5rem;
    }
}

// Fondos
@each $background in bgIndex, bgTrabajos,bgAbout,bgContacto {
    .#{$background}{
        background: url(../assets/img/#{$background}.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

// Footer
$foo: foot;

footer {
    @if $foo == foot {
        @media only screen and (max-width: 768px){
            h4 {
                color: $white;
                font-size: 1rem;
                letter-spacing: 0rem;
            }
        }
    }
    @if $foo == foot {
        @media only screen and (min-width: 1023px){
            h4 {
                color: $white;
                font-size: 1rem;
                letter-spacing: .5rem;
            }
        }
    }
}
