* {
    padding: 0px;
    margin: 0px;

    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif
}

// Home
.home {
    .content{
        width: 55rem;
        padding: 2rem;
        h3{
            font-size: 5rem;
            text-transform: uppercase;
            color: $grey;
        }
        p{
            line-height: 2;
            font-size: 1.5rem;
            color: $white;
            padding: 5rem 0;
        }
        .link-btn{
            display: inline-block;
            padding: 1rem .5rem;
            border-radius:  .5rem;
            border: 1px solid $black;
            cursor: pointer;
            font-size: .8rem;
            color: $white;
            &:hover{
                background-color: $black;
                color: $white;
            }
        }
    }
}

// Trabajos
.jobs  {
    .content{
        width: 55rem;
        padding: 2rem;
        h3{
            font-size: 5rem;
            text-transform: uppercase;
            color: $grey;
        }
        p{
            line-height: 2;
            font-size: 1.5rem;
            color: $white;
            padding: 5rem 0;
        }
        .link-btn{
            display: inline-block;
            padding: 1rem .5rem;
            border-radius:  .5rem;
            border: 1px solid $black;
            cursor: pointer;
            font-size: .8rem;
            color: $white;
            &:hover{
                background-color: $black;
                color: $white;
            }
        }
    }
}

.fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img {
        padding: 0.5rem;
    }
}

footer {
    h4 {
        color: $white;
        font-size: 1rem;
        letter-spacing: .5rem;
    }
}

// Fondos
@each $background in bgIndex, bgTrabajos,bgAbout,bgContacto {
    .#{$background}{
        background: url(../assets/img/#{$background}.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}