// Operaciones
@for $i from 1 through 4 {
    .button-#{$i}{
        margin-top: $i *5rem;
    }
}

@mixin social {
    color: white;
    padding: 15px;
    cursor: pointer;
}

// MAPS redes
$redes:(
    facebook: #3a5795,
    twitter:#55acee,
    github:#080808,
    whatsapp:#00bb2d
);

// Each redes
@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
        @include social;
    }
}

// Sidebar edit
.sidebar{
    top: 35%;
    left: 35%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65%;
    transition: all 0.5s;
}
.bar:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
    transition: all 0.5s;

}


$side: sidebar;

.sidebar {
    @if $side == sidebar {
        @media only screen and (max-width: 768px){
            display: none;
        }
    }
    @if $side == sidebar {
        @media only screen and (min-width: 1023px){
                top: 35%;
                left: 35%;
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 65%;
                transition: all 0.5s;
            .bar:hover{
                padding-right: 3rem;
                border-radius: 1rem 0 0 1rem;
                box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
                transition: all 0.5s;
            }
        }
    }
}