// Sidebar
@for $i from 1 through 4 {
    .button-#{$i}{
        margin-top: $i *5rem;
    }
}

//echa
@mixin social {
    color: white;
    padding: 15px;
    cursor: pointer;
}

$redes:(
    facebook: #3a5795,
    twitter:#55acee,
    github:#080808,
    whatsapp:#00bb2d
);

@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
        @include social;
    }
}

.sidebar{
    top: 35%;
    left: 35%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65%;
    transition: all 0.5s;
}
.bar:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
    transition: all 0.5s;

}