$vistas: about;

.about {
    @if $vistas == about {
        @media only screen and (max-width: 768px){

            .row{
                h3{
                    font-size: 4rem;
                    text-transform: uppercase;
                    color: $red;
                    justify-content: end;
                    align-items: flex-end;
                    display: flex;
                    flex-direction: column;
                    padding: 2rem;
                    text-align: end;
                }
                p{
                    line-height: 1;
                    font-size: 1.5rem;
                    font-weight: 100;
                    color: $white;
                    padding: .5rem;
                    text-align:start;
                }
            }
        }
    }
    @if $vistas == about {
        @media only screen and (min-width: 1023px){
            .row{
                    h3{
                        font-size: 7rem;
                        text-transform: uppercase;
                        color: $red;
                        display: flex;
                        flex-direction: column;
                        padding: 5rem;
                        text-align: end;
                    }
                    p{
                        line-height: 1.5;
                        font-size: 2.5rem;
                        font-weight: 100;
                        color: $white;
                        padding: 3rem;
                        text-align:justify;
                    }
                    .textoAbajo{
                        padding-top: 3rem;
                        text-align: center;
                    }
            }
        }
    }
}
