$vistas: about;

.about {
    @if $vistas == about {
        @media only screen and (max-width: 768px){
        }
    }
    @if $vistas == about {
        @media only screen and (min-width: 1023px){
            .content{
                h3{
                    font-size: 5rem;
                    text-transform: uppercase;
                    color: $grey;
                }
                p{
                    line-height: 1;
                    font-size: 2rem;
                    font-weight: 100;
                    color: $white;
                }
            }
        }
    }
}