$vistas: contact;

.contact {
    @if $vistas == contact {
        @media only screen and (max-width: 768px){
        }
    }
    @if $vistas == contact {
        @media only screen and (min-width: 1023px){
                h2 {
                    color: $black;
                }
                p {
                    color: $black;
                }
            }
        }
    }
