$vistas: contact;

.mainContact {
    @if $vistas == contact {
        @media only screen and (max-width: 768px){
            padding: 20px;
            .formulario {
                p{
                    color: $white;
                    font-size: 1.5rem;
                }
                h3 {
                    color: $white;
                    font-size: 3rem;
                }
                .buttonMSJ {
                    color: $white;
                    background-color: $redPastel;
                    border: none;
                }
            }
        }
    }
    @if $vistas == contact {
        @media only screen and (min-width: 1023px){
            padding: 20px;
            padding-bottom: 3.9rem;
                .formulario {
                    p{
                        color: $white;
                        font-size: 1.5rem;
                    }
                    h3 {
                        color: $white;
                        font-size: 3rem;
                    }
                    .buttonMSJ {
                        color: $white;
                        background-color: $redPastel;
                        border: none;
                    }
                }
            }
        }
    }
