$vista: home;

.home {
    @if $vista == home {
        @media only screen and (max-width: 768px){
            .content{
                width: 30rem;
                padding: 2rem;
                h3{
                    font-size: 3rem;
                    text-transform: uppercase;
                    color: $grey;
                }
                p{
                    line-height: 2;
                    font-size: 1rem;
                    color: $white;
                    padding: 5rem 0;
                }
                .link-btn{
                    display: inline-block;
                    padding: 1rem .5rem;
                    border-radius:  .5rem;
                    border: 1px solid $black;
                    cursor: pointer;
                    font-size: .8rem;
                    color: $white;
                    &:hover{
                        background-color: $black;
                        color: $white;
                    }
                }
            }
        }
    }
}
@if $vista == home {
    @media only screen and (min-width: 1023px){
        .content{
            width: 55rem;
            padding: 2rem;
            h3{
                font-size: 5rem;
                text-transform: uppercase;
                color: $grey;
            }
            p{
                line-height: 2;
                font-size: 1.5rem;
                color: $white;
                padding: 5rem 0;
            }
            .link-btn{
                display: inline-block;
                padding: 1rem .5rem;
                border-radius:  .5rem;
                border: 1px solid $black;
                cursor: pointer;
                font-size: .8rem;
                color: $white;
                &:hover{
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}