$vistas: jobs;

.jobs {
    @if $vistas == jobs {
        @media only screen and (max-width: 768px){
            .content{
                max-width: 40rem;
                h3{
                    font-size: 3rem;
                    text-transform: uppercase;
                    color: $grey;
                }
                p{
                    line-height: 2;
                    font-size: 1rem;
                    color: $white;
                    padding: 5rem 0 0;
                }
            }
        }
    }
    @if $vistas == jobs {
        @media only screen and (min-width: 1023px){
            .content{
                width: 55rem;
                padding: 2rem;
                h3{
                    font-size: 5rem;
                    text-transform: uppercase;
                    color: $grey;
                }
                p{
                    line-height: 2;
                    font-size: 1.5rem;
                    color: $white;
                    padding: 5rem 0;
                }
            }
        }
    }
}